.edit-user-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
  
    h2 {
      margin-bottom: 16px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      .MuiFormControlLabel-root {
        margin-left: 0;
      }
    }
  
    .button-group {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
  
      button {
        width: 48%;
      }
    }
  }