.user-list {
    padding: 20px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    .MuiTableContainer-root {
      margin-bottom: 20px;
    }
  
    .MuiButton-root {
      margin-right: 10px;
    }
  }